html {
  scroll-behavior: smooth;
}
body{
    background: white;
    color: black;
    margin:0;
    padding: 0;
}
.mydiv{
    text-align:center;
    width: 30%;  
    margin:2px auto;   
    border-radius:10px; 
    color: black;
}

a{
    text-decoration: none;
    color: black;
    font-size: 17px;
}

button{
    background:black;
    color: black;
    font-size: 1em;
    border-radius:3px;
    padding: 10px;
}
p{
    font-size:18px;
}
h3{
    color: black;
    font-size: 1.25rem;
    font-weight: 300;
}
.main-col{
float: left;
width: 70%;
margin: 0 auto
}
.sidebar-col{
    float: right;
    width: 30%;
}

.rmain-col{
float: left;
width: 50%;
margin: 0 auto
}
.lsidebar-col{
    float: right;
    width: 50%;
}
.column-wrapper{
margin:0 auto;

}
.clearfix {
  overflow: auto;
}


#section1 {
padding: 70px;
  background-color: #29b6f6;
}

#section2 {
    padding: 70px;
  background-color: #8bc34a;
}
#section3 {
    padding: 70px;
  background-color: #8bc34a;
}
.billboard{
    padding: 260px;
    text-align: center;
    color: white;
    text-transform: capitalize;
    background-color: rgba(0,0,0,0.5);
}
#myVideo {
   position: absolute;
  top: 0;
  left: 0;
  z-index: -100;
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin-top: 40px;
}
